<html>
    <head>
        <title>Add form</title>
    </head>
    <body>
        <form action='/add' method="post">
            Name:<input type= "text" name='name'/>
            Deadline:<input type= "date" name='deadline'/>
            Points:<input type= "number" name='points'/>

<button type='submit'>Submit</button>
        </form>
    </body>
</html>